<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ICE_AssetLibrary.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ICE_AssetLibrary.Properties.Settings>
            <setting name="DownLoadPath" serializeAs="String">
                <value />
            </setting>
            <setting name="LastQSName" serializeAs="String">
                <value />
            </setting>
            <setting name="Login_UserName" serializeAs="String">
                <value />
            </setting>
            <setting name="Login_SavePassword" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Login_AutoLogin" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Login_IP" serializeAs="String">
                <value />
            </setting>
            <setting name="Login_Port" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Login_Password" serializeAs="String">
                <value />
            </setting>
        </ICE_AssetLibrary.Properties.Settings>
    </userSettings>
</configuration>